# ––––– Core scientific stack –––––
numpy==1.24.4
pandas==2.2.1
scipy==1.10.1
scikit-learn==1.2.2
xgboost==1.7.6
joblib==1.2.0

# ––––– TensorFlow & GPU support –––––

tensorflow-metal==1.1.0
tensorflow-macos==2.15.0
tf-keras==2.15.0

transformers==4.33.3
# ––––– TF-Keras compat & Transformers –––––
tf-keras==2.16.0         # Necesario para compat Transformers + TF 2.16.1
#transformers==4.33.3

# ––––– NLP utilities –––––
nltk==3.8.1
deep-translator==1.11.4
langdetect==1.0.9

# ––––– Web & deployment –––––
fastapi==0.111.0
uvicorn[standard]==0.29.0

# ––––– Otros –––––
mysql-connector-python==8.3.0
python-dotenv==1.0.1
protobuf==3.20.3         # Forzar implementación Python para evitar errores internos